@font-face {
  font-family: 'Jet Brains Mono Regular';
  src: url('../fonts/jetbrains_mono/ttf/JetBrainsMono-Regular.ttf');
}

.about-container {
  font-family: Neutral Face;
}

.about-container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.about-container h1:nth-of-type(1) {
  margin: 5rem 0 0 20rem;
}

.about-container h1:nth-of-type(2) {
  margin: -0.5rem 0 0 -37rem;
}

.about-me {
  font-family: Jet Brains Mono Regular;
  line-height: 1.3rem;
  margin-top: 1.3rem;
  text-align: justify;
  height: 20rem;
  width: 100%; /* Adjusted width to occupy the full width of the container */
  max-width: 40rem; /* Added max-width to limit the width on larger screens */
  padding: 0 1rem; /* Added padding for better readability on smaller screens */
}

/* Media query for smaller screens (adjust the breakpoint as needed) */
@media screen and (max-width: 768px) {
  .about-container h1:nth-of-type(1) {
    margin: 1rem 0 0 1rem;
  }

  .about-container h1:nth-of-type(2) {
    margin: -0.5rem 0 0 -2rem;
  }

  .about-me {
    max-width: 100%; /* Adjusted max-width to occupy full width on smaller screens */
    width: 90%; /* Adjusted width to fit better on smaller screens */
  }
}
