@font-face {
  font-family: 'Neutral Face Bold';
  src: url('../src/fonts/NeutralFace-Bold.otf');
}

@font-face {
  font-family: 'Neutral Face';
  src: url('../src/fonts/NeutralFace.otf');
}

body {
  cursor: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181818;
  color: #f1f1f1;
  font-family: 'Neutral Face Bold';
  overflow: hidden;
}

.Home {
  display: flex;
  flex-direction: column;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.homeCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  align-items: center;
  /* border: solid 2px red; */
}

.homeCenter :nth-child(1) {
  font-size: 4rem;
}

.homeCenter :nth-child(2) {
  font-size: 1.75rem;
  font-family: 'Neutral Face';
}

.homeCenter :nth-child(3) {
  font-size: 4.5rem;
}

.hamburguer-menu {
  display: none;
}

@media (max-width: 600px) {
  .homeCenter :nth-child(1) {
    font-size: 3rem;
  }

  .homeCenter :nth-child(2) {
    font-size: 1.2rem;
    font-family: 'Neutral Face';
  }

  .homeCenter :nth-child(3) {
    font-size: 3.5rem;
  }
}

/* animations */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #f1f1f1;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a.no-pointer {
  cursor: none
}